#!/bin/bash

# Get the token from https://vercel.com/account/tokens
VERCEL_TOKEN=""

# Domain name (e.g. example.com)
DOMAIN_NAME=""

# Subdomain to update (note: use an empty string for the root record)
SUBDOMAIN=""

# Team ID (Vercel Dashboard > Settings)
TEAM_ID=""

# Record type: "A" for IPv4, "AAAA" for IPv6 (default: A)
RECORD_TYPE="A"
